# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
lib/
# Logs
*.log
logs/ # Директория для логов, которая монтируется в Docker контейнер

# Project specific
.env
*.sqlite3

# IDEs and OS
.idea/             # JetBrains IDEs (PyCharm, IntelliJ IDEA)
.vscode/           # VS Code
*.iml              # JetBrains project files
*.ipr              # JetBrains project files
*.iws              # JetBrains project files
.DS_Store          # macOS
Thumbs.db          # Windows

# Docker
# Игнорировать любые временные файлы или кэши, созданные Docker
# Сюда можно добавить, если у вас есть локальные volume bind-mounts, которые вы не хотите отслеживать.
# В вашем случае `postgres_data` - это Docker-managed volume,
# его не нужно добавлять, так как он не находится в директории проекта напрямую.
# Однако, если бы вы использовали что-то вроде './data:/var/lib/postgresql/data',
# тогда нужно было бы добавить:
# data/

# Testing
.pytest_cache/
.coverage

# Build artifacts
dist/
build/
*.egg-info/.env
